# cx_Oracle의 주요 메소드 정리

cx_Oracle.makedsn  : 오라클에 대한 주소 정보

cx_Oracle.connect  : 오라클 접속 유저 정보

db.cursor          : 데이터 담을 메모리의 이름을 선언

cursor.execute     : SQL의 결과가 cursor 메모리를 담음

cursor.fetchall    : 메모리에 담긴 데이터를 한 행씩 fetch(all)

cursor.description : 데이터의 칼럼명을 추출

In [1]:
import cx_Oracle
from pandasql import sqldf

dsn = cx_Oracle.makedsn('211.170.143.158', 1521, 'xe')

# dsn을 인자로 반드시 입력할 것
db = cx_Oracle.connect('test1', 'test1', dsn)

cursor = db.cursor()
cursor.execute("""select * from system.score""")

row = cursor.fetchall()
colname = cursor.description
col = []
for i in colname :
    
    col.append(i[0])

print("* column ;")
print(col, "\n")

print("* row :")
print(row[:10], "\n")

score_df = pd.DataFrame(row, columns=col)
print("* score_df :")
display(score_df)

print("\n", "* score_df_with_window_function(using pandasql) :")
score_df_with_window_function = sqldf("SELECT SNO, CNO, RESULT, ROW_NUMBER() OVER(PARTITION BY SNO ORDER BY RESULT DESC) AS RNK FROM score_df")
display(score_df_with_window_function)

* column ;
['SNO', 'CNO', 'RESULT']

* row :
[('894501', '1211', 97), ('905301', '1211', 66), ('905302', '1211', 89), ('905603', '1211', 81), ('913901', '1211', 94), ('913902', '1211', 83), ('913903', '1211', 29), ('913904', '1211', 75), ('913908', '1211', 65), ('914502', '1211', 75)]

* score_df :

         SNO   CNO  RESULT
0     894501  1211      97
1     905301  1211      66
2     905302  1211      89
3     905603  1211      81
4     913901  1211      94
5     913902  1211      83
6     913903  1211      29
7     913904  1211      75
8     913908  1211      65
9     914502  1211      75
10    914503  1211      76
11    914504  1211      64
12    915301  1211      57
13    915303  1211      86
14    915304  1211      78
15    915305  1211      47
16    915601  1211      87
17    915602  1211      93
18    915604  1211      69
19    915605  1211      80
20    918201  1211      81
21    918202  1211      45
22    918203  1211      48
23    918204  1211      46
24    918205  1211      67
25    923901  1211      60
26    923902  1211      93
27    923903  1211      59
28    923904  1211      49
29    924501  1211      86
...      ...   ...     ...
2571  933903  2410      85
2572  933904  2410      77
2573  934501  2410      81
2574  934502  2410      62
2575  934503  2410      67
2576  934504  2410      55
2577  935301  2410      50
2578  935303  2410      88
2579  935304  2410      76
2580  935601  2410      43
2581  935602  2410      51
2582  935604  2410      79
2583  935605  2410      73
2584  938201  2410      79
2585  938202  2410      90
2586  938204  2410      84
2587  938205  2410      42
2588  943901  2410      67
2589  943902  2410      69
2590  943903  2410      49
2591  943905  2410      64
2592  944501  2410      58
2593  944503  2410      78
2594  945603  2410      92
2595  945604  2410      42
2596  945605  2410      47
2597  948201  2410      66
2598  948202  2410      22
2599  948203  2410      61
2600  948204  2410      66

[2601 rows x 3 columns]

 * score_df_with_window_function(using pandasql) :

         SNO   CNO  RESULT  RNK
0     894501  1211      97    1
1     894501  2363      97    2
2     894501  1214      96    3
3     894501  2368      94    4
4     894501  2370      93    5
5     894501  1733      89    6
6     894501  2357      87    7
7     894501  1212      84    8
8     894501  2358      84    9
9     894501  1227      77   10
10    894501  1217      74   11
11    894501  2312      72   12
12    894501  2410      71   13
13    894501  1782      70   14
14    894501  1218      68   15
15    894501  1233      68   16
16    894501  1711      68   17
17    894501  2119      67   18
18    894501  2365      65   19
19    894501  1213      60   20
20    894501  2111      58   21
21    894501  1245      57   22
22    894501  2112      54   23
23    894501  1228      53   24
24    894501  1287      53   25
25    894501  2313      53   26
26    894501  2367      53   27
27    905301  1711      90    1
28    905301  2312      90    2
29    905301  1212      87    3
...      ...   ...     ...  ...
2571  948205  1228      48   25
2572  948205  2367      41   26
2573  948209  1226      94    1
2574  948209  2313      88    2
2575  948209  1212      85    3
2576  948209  1213      84    4
2577  948209  1228      82    5
2578  948209  1245      82    6
2579  948209  2357      79    7
2580  948209  2111      78    8
2581  948209  2115      78    9
2582  948209  1211      77   10
2583  948209  1217      76   11
2584  948209  2312      76   12
2585  948209  1227      75   13
2586  948209  2367      75   14
2587  948209  2363      74   15
2588  948209  1712      70   16
2589  948209  2366      67   17
2590  948209  1233      65   18
2591  948209  2322      60   19
2592  948209  2369      60   20
2593  948209  2119      57   21
2594  948209  2358      56   22
2595  948209  2370      53   23
2596  948209  1733      51   24
2597  948209  2112      50   25
2598  948209  2329      50   26
2599  948209  1290      49   27
2600  948209  1216      36   28

[2601 rows x 4 columns]